<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="https://unpkg.com/papercss@1.8.1/dist/paper.css">
    <style>
        body {
            margin: 20px;
        }
    </style>
	
<meta name="apple-mobile-web-app-capable" content="yes">
<script>
	var eventHandler = function (event) {
    // Only run for iOS full screen apps
    if (('standalone' in window.navigator) && window.navigator.standalone) {
        // Only run if link is an anchor and points to the current page
        if ( event.target.tagName.toLowerCase() !== 'a' || event.target.hostname !== window.location.hostname || event.target.pathname !== window.location.pathname || !/#/.test(event.target.href) ) return;

        // Open link in same tab
        event.preventDefault();
        window.location = event.target.href;
    }
}
window.addEventListener('click', eventHandler, false);
	</script>
</head>
	<body>
		
		<h2>{{ page.title }}</h2>		
		{{ content }}
		<script data-goatcounter="https://amainteractive.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

	</body>
</html>

