---
layout: default
---
{{ content }}

<footer>
<a href="{{ page.next }}" class="paper-btn" style="text-align: left;">Next</a> 
</footer>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.2/dist/confetti.browser.min.js"></script>
<script>
confetti({
  particleCount: 100,
  spread: 70,
  origin: { y: 0.6 }
});
</script>
