---
layout: default
---
{{ content }}
<footer>
<a href="{{ page.yurl }}" class="paper-btn" style="text-align: left;">{{ page.correct }}</a> <p style="text-align: right;"><a class="paper-btn" href="{{ page.xurl}}" style="text-align: right;">{{ page.incorrect }}</a></p>
</footer>
